<p>card works!</p>


<div class="container" style="background-color: rgb(232, 232, 247);">

    <div class="container">
        <div class="row">
            <div class="col col-sm-3 col-lg-3" *ngFor="let item of products | slice:start:end">
                <div class="card">

                    <div class="card-body">
                        <div class="card_img">
                            <img [src]="item.image" alt="user-image">
                        </div>
                        <h3>{{item.pname}}</h3>
                        <p class="card-text">{{item.desc}}</p>
                        <a href="https://en.wikipedia.org/wiki/A._P._J._Abdul_Kalam" target="_blank"
                            class="btn btn-primary">Go wikipedia</a>
                    </div>
                </div>
            </div>

            <div class="w-100"></div>

        </div>
    </div>

    <br>
    <br>
    <ng-container *ngIf="products.length >= end">
        <button type="button" (click)="loadMoreData()" class="btn btn-dark">Load More</button>
    </ng-container>

</div>

<p>Percentage Pipe in Angular ==> {{a | percent}}</p>


<style>
    .card {
        max-width: 350px;
        margin-top: 60px;
    }

    .card_img {
        width: 120px;
        height: 120px;
        overflow: auto;
        border-radius: 100%;
        margin: -60px auto 0;
    }

    .card_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card_info {
        padding-bottom: 20px;
    }
</style>
<h1>Without Pipe</h1>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Product Name</th>
            <th scope="col">Grade</th>
            <th scope="col">Stars</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products1,let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{product.pname}}</td>
            <td>{{product.grade }}</td>
            <td><span [ngClass]="[product.grade == 'Average' ||  product.grade == 'Good' || product.grade == 'Excellent' ||product.grade == 'Outstanding' ?'fa fa-star checked' : 'fa fa-star']"></span>
                <span [ngClass]="[product.grade == 'Excellent' || product.grade == 'Outstanding' || product.grade == 'Good' ?'fa fa-star checked' : 'fa fa-star']"></span>
                <span [ngClass]="[product.grade == 'Outstanding' || product.grade == 'Excellent' || product.grade == 'Good' ?'fa fa-star checked' : 'fa fa-star']"></span>
                <span [ngClass]="[product.grade == 'Outstanding' || product.grade == 'Excellent'  ?'fa fa-star checked' : 'fa fa-star']"></span>
                <span [ngClass]="[product.grade == 'Outstanding'  ? 'fa fa-star checked' : 'fa fa-star']"></span>

            </td>
        </tr>

    </tbody>

</table>
<h1>With Pipe</h1>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">S.No</th>
            <th scope="col">Product Name</th>
            <th scope="col">Grade</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products1,let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{product.pname}}</td>
            <td>{{product.grade | demopipe }}</td>

    


        </tr>

    </tbody>

</table>
{{products1 | json}}




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">