<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 gradient-custom-2">
            <app-nav></app-nav>
        </div> -->
        <div class="col py-3">
            <nav>
                <a [routerLink]="['/forms']">Forms</a><p>    </p>
                
    
                <a [routerLink]="['/del']">Del</a>
               
    
                <a [routerLink]="['/parent']">Parents</a>
            </nav>
           

            <router-outlet></router-outlet>
        </div>
    </div>
  </div>